# No dot-directories except github/vscode
.*/
.vscode/
!.github/

*.code-workspace
node_modules
nbproject

# npm package files
iobroker.*.tgz

Thumbs.db
mqtt
# NYC coverage files
coverage
src/lib/config-custom.ts
# i18n intermediate files
admin/i18n/flat.txt
admin/i18n/*/flat.txt
src/lib/password.ts
.gitignore
.commitinfo

# src-admin build artifacts
src-admin/node_modules
src-admin/build
admin/custom/*.js
admin/custom/*.map
admin/custom/*.txt
admin/custom/*.html
admin/custom/*.json