name: 'Close stale issues and PRs'
permissions:
  #contents: write # only for delete-branch option
  actions: write
  issues: write
  #pull-requests: write

on:
  schedule:
    - cron: '30 3 * * *'

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v10.1.1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          configuration: .github/stale.yml